<div class="mt-4">
    <h3>Khóa học của tôi</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Id Khóa học</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.disc}}</td>
                <td>{{this.slugId}}</td>
                <td>
                    <a href="/course/{{this._id}}/edit" class="btn btn-link"> Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-course-modal"> Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure delete this course!!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Sau khi xóa, dữ liệu của bạn có thể bị mất...
            </div>
            <div class="modal-footer">
                <button id="btn-delete" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form method="post" id="delete-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var btnDeleteCourse = document.getElementById('btn-delete');
        var formDelete = document.forms['delete-form'];
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            courseId = button.data('id'); // Extract info from data-* attributes
        });

        btnDeleteCourse.onclick = function () {
            formDelete.action = '/course/' + courseId + '?_method=DELETE';
            formDelete.submit();
        }
    });



</script>